
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");


/*navbar styling*/

.navbar{
    background-color: green;
    padding: 10px;
    position: fixed;
    width: 97%;
    margin-top: -10px;
}

.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 400;
    display: inline;
    padding: 30px;
    margin-left: 25px;
    transition: all 0.9s ease;
}

.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
    color: white;
    margin-left: 50px;
    font-family: 'Oleo Script Swash Caps';font-size: 32px;

}


.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    margin:auto;
    justify-content: space-between;
}

.navbar .menu li a:hover{
    color: yellow
}

.navbar .logo a span{
    color: white;
}


p{
    padding-top: 30px;
    margin-inline-start: 100px;
    border-radius: 10px;
    font-weight: bolder;

    
}


#text1{
    padding-top: 100px;
    text-align: center;
    color: green;
    font-weight: bolder;
    font-size: 30px;
}

#image1{
    float: right;
    margin-top: 20px;
    border-radius: 80px;
    width: 50%;
    height: 50%;
    margin-inline-end: 30px;
}
#btn1{
    margin-inline-start: 200px;
    background-color: green;
    height: 40px;
    font-weight: bolder;
    color: white;
    border-radius: 15px;

}

hr{
    margin-top: 40px;
}

.report{
    text-align: center;
    background: white;
    border-radius: 50px;
    margin-top: 40px;
    width: 100%;
    padding: 10px;
    align-items: center;
    display: inline-block;
}

h2{
    color: green;
}

h3{
    color: green;
    background: rgba(128, 128, 128, 0.062);
    border-radius: 20px;
    font-size: 30px;
    font-weight: bolder;

}
